body {
  display: flex;
  justify-content: center;   
  align-items: center;      
  height: 100vh;             
    margin: 0;                 
}
#contain{
    border:none;
    display: grid;
    grid-template-columns: repeat(15,30px);
    grid-template-rows: repeat(15,30px);
    align-content: center;
    justify-content: center;
    padding: 80px;

}
.hover{
    background-color: black;
}
#contain div{
    border: 1px solid black;
}
#outside{
    display: flex;
  justify-content: center; 
  align-items: center;
    width: 500px;
    height: 550px;
    border: 1px solid black;
    background-color: white;
}
.red{
     display: flex;
  justify-content: center; 
  align-items: center;
    width: 600px;
    height: 700px;
    border: 1px solid black;
    background-color: red;
}
#out{
    border:1px solid black;
    border-radius: 600%;
    position: absolute;
    bottom:30px;
    right: 500px;
padding: 20px;
    
}
#in{
    border:1px solid black;
    border-radius: 600%;
    position: absolute;
    bottom:30px;
    left: 500px;
padding: 20px;
}